<h1>USER ACCOUNT HERE</h1>

<p>PERSONAL DETAILS</p>
<p><%= current_user.first_name %> <%= current_user.last_name %></p>
<p><%= current_user.email %></p>





<p>CREATE TRIP BUTTON</p>

<p>LIST OF TRIPS</p>
<p><a href="/trips">Trips here</a></p>
