<h1>USER ACCOUNT HERE</h1>

<p>PERSONAL DETAILS</p>
<p><%= current_user.first_name %> <%= current_user.last_name %></p>
<p><%= current_user.email %></p>

<div>
  <%= link_to  'Add trip', new_trip_path, class: 'bttn' %>
</div>
<br>
<p><a href="/trips">LIST OF TRIPS</a></p>
